* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    outline: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}


.scene {
  perspective: 1000px;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
}

.card {
  box-shadow: 0 0 20px 0 white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform: rotateY(calc(var(--i) * 60deg)) translateZ(200px);
}
.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  z-index: 999;
  -ms-overflow-style: none;
  display: flex;
  transform: translate(-50%, -50%);
}

.modal-content {
  padding: 30px;
  width: 600px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
  margin: 50px 0  ;
}


.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content h2 {
  margin-bottom: 16px;
  font-size: 24px;
}

.modal-extra p, .modal-extra ul, .modal-extra li, .modal-extra a {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
}

.modal-close {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.intro_img{
  width: 30%;
  height: 30%;
}